/* boardのcss */

body {
    /* 背景色 */
    background-color: #FFCC33;
}

h1 {
    /* 中央揃え */
    text-align: center;
    font-size: 40px;
}

h3 {
    /* 中央揃え */
    text-align: center;
    font-size: 25px;
}

.fontsize1 {
    font-size: 30px;
}

/* form1のCSS */
.form1 {
    /* 中央揃え */
    text-align: center;
}

/* inputのtext1のCSS */
.text1 {
    /* フォントサイズ */
    font-size: 20px;
}

/* inputのtext2のCSS */
.text2 {
    /* フォントサイズ */
    font-size: 20px;
}

/* inputのtext3のCSS */
.text3 {
    /* フォントサイズ */
    font-size: 20px;
    
}

/* buttonのsubmit1のCSS */
.submit1 {
    /* フォントサイズ */
    font-size: 25px;
    /* 背景色 */
    background-color: #CC99FF;
}

/* buttonのsubmit2のCSS */
.submit2 {
    /* フォントサイズ */
    font-size: 20px;
    /* 背景色 */
    background-color: #CC99FF;
}

/* buttonのsubmit3のCSS */
.submit3 {
    /* フォントサイズ */
    font-size: 30px;
    /* 背景色 */
    background-color: #CC99FF;
}

/* box1のCSS */
.box1 {
    /* 中央揃え */
    text-align: center;
    /* 縦幅サイズ */
    height: 300px;
    /* 横幅サイズ */
    width: 500px;
    /* 外側左サイズ */
    margin-left: 420px;
    /* 背景色 */
    background-color: #fff;
    /* スクロール */
    overflow: scroll;
}

/* box2のCSS */
.box2 {
    /* 中央揃え */
    text-align: center;
    /* 縦幅サイズ */
    height: 600px;
    /* 横幅サイズ */
    width: 1200px;
    /* 外側左サイズ */
    margin-left: 75px;
    /* 背景色 */
    background-color: #fff;
    /* スクロール */
    overflow: scroll;
}

/* ハンバーガーアイコンの外側デザイン */
#header .hamburger {
    /* 横幅サイズ */
    width: 50px;
    /* 縦幅サイズ */
    height: 50px;
    /* マウスポインターを指に変更 */
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    /* 優先度を変更 */
    z-index: 30;
}

/* ハンバーガーアイコンの内側デザイン */
#header .hamburger span {
    /* 横幅サイズ */
    width: 30px;
    /* 縦幅サイズ */
    height: 3px;
    /* 背景色 */
    background-color: #000;
    /* 絶対位置指定（親は.hamburger） */
    position: absolute;
    left: 10px;
    /* ボタンが押されてxに切り替わるときの動作設定 */
    transition: all 0.4s;
}

/* ハンバーガーメニュー3本線の縦位置設定 */
/* 上 */
#header .hamburger span:nth-of-type(1) {
    top: 16px;
}
/* 中央 */
#header .hamburger span:nth-of-type(2) {
    top: 25px;
}
/* 下 */
#header .hamburger span:nth-of-type(3) {
    top: 34px;
}

/* メニューの外側デザイン */
#header .nav {
    /* 横幅サイズ */
    width: 30%;
    /* 縦幅サイズ */
    height: 100vh;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 20;
    /* スライドを表示する際の速度設定 */
    transition: all 0.6s;
    /* 背景色 */
    background-color: #fff;
}

/* メニューの内側デザイン */
#header .nav ul {
    display: flex;
    /* 横幅サイズ */
    width: 100%;
    /* 縦幅サイズ */
    /* メニューを縦並び */
    flex-direction: column;
    /* 上下の高さを設定 */
    padding: 60px 0;
    overflow: auto;
    /* 要素同士の余白サイズ調整 */
    gap: 16px;
    /* 中央揃え */
    text-align: center;
}

/* ボタンを押したときの動作 */
#header .nav.active {
    right: 0;
}

/* ボタンをxにするデザイン1 */
#header .hamburger.active span:nth-of-type(1) {
    top: 25px;
    transform: rotate(-45deg);
}
/* ボタンをxにするデザイン2 */
#header .hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
/* ボタンをxにするデザイン3 */
#header .hamburger.active span:nth-of-type(3) {
    top: 25px;
    transform: rotate(45deg);
}

/* img1のCSS */
.img1 {
    /* 中央揃え */
    text-align: center;
}